.img__ajuda {
  width: 200px;
}


.card__ajudar {
  background: var(--azul-escuro);
  border: 10px solid var(--azul-escuro);
  box-shadow: var(--sombra);
  border-radius: 50px;
  width: 1238px;
  height: 584px;
  margin: 0 auto;
}

.card__descricao {
  width: 347px;
  height: 347px;
  background: var(--azul-claro);
  box-shadow: var(--sombra);
  border-radius: 50px;
}

.card__descricao__segundo {
  width: 652px;
  height: 347px;
  border: 50px;
  background: var(--laranja);
  box-shadow: var(--sombra);
  border-radius: 50px;
}

@media screen and (max-width: 1240px) {
  .card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card__ajudar {
    height: 1100px;
    width: 800px;
  }

  .img__ajuda {
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .card__ajudar {
    height: 1100px;
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .card__ajudar {
    height: 1100px;
    width: 400px;
  }

  .card__descricao {
    width: 200px;
    height: 250px;
  }

  .card__descricao img {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .card__descricao__segundo {
    height: 400px;
    flex-wrap: wrap;
  }

  .card__ajudar {
    width: 300px;
  }
}