@import url("./navbar.css");
@import url("./carrosel.css");
@import url("./banner__segundo.css");

:root {
  --fonte-principal: "Lalezar";
  --azul-escuro: #36517c;
}

body {
  font-family: var(--fonte-principal) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
